.sectionBanner {
	&__item {
		position: relative;
		min-height: 400px;
		max-height: 600px;

		@include media-breakpoint-up(lg) {
			min-height: 550px;
			max-height: 700px;
		}
	}

	&__itemImg {
		// position: absolute;
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}

.slick-slider {
	margin: 0px;
}
