.menu-filter {
	margin-bottom: 5px;
}

.menu-filter .capt {
	display: inline-block;
	float: left;
}

// Xử lý giao diện khối menu-filter item
.menu-filter .capt a {
	display: flex;
	color: $primary;
	font-weight: bold;
	align-items: center;
	padding: 0px 10px;
	border: 1px solid #999999;
	border-radius: 2px;
	height: 40px;
	font-size: 14px;
}

// Xử lý kích thước icon
.menu-filter .capt a img {
	margin-right: 3px;
}

// Danh sách menu item - ul
.menu-filter .menu-filter__nav ul.menu {
	display: flex;
	padding-left: 0px;
}

// Xử lý menu cấp 1 - Menu Filter
// Xử lý thẻ li menu-item
.menu-filter .menu-filter__nav .menu>li.menu-item {
	position: relative;
	list-style-type: none;
	margin-left: 15px;
	margin-bottom: 10px;
}

// Xử lý sự kiện active dường dẫn
.menu-filter .menu-filter__nav ul.menu li.current-menu-item a {
	color: $primary;
}

// Xử lý thẻ a trong li menu-item cấp 1
.menu-filter .menu-filter__nav .menu>li.menu-item>a {
	display: flex;
	align-items: center;
	font-weight: bold;
	align-items: center;
	padding: 0px 10px;
	border: 1px solid #999999;
	border-radius: 2px;
	line-height: 38px;
	font-size: 14px;
}

// Xử lý lỗi sao chép thẻ a trong menu
.menu-filter .menu-filter__nav li.menu-item a {
	color: black;
	user-select: none;
	-webkit-user-select: none;
	/* Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
}

// Xử lý sự kiện hover vào thẻ a
.menu-filter .menu-filter__nav ul.menu>li.menu-item>a:hover,
.menu-filter .menu-filter__nav ul.menu>li.menu-item>ul.sub-menu li.menu-item a:hover {
	color: $primary;
	font-weight: bold;
	cursor: pointer;
}

// Xử lý hình ảnh icon của menu item cấp 1
.menu-filter .menu-filter__nav ul.menu>li.menu-item>a::after {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23008E49' d='M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-left: 10px;
}

// Menu cấp 2 -
.menu-filter .menu-filter__nav .menu li.menu-item>ul.sub-menu {
	position: absolute;
	display: none;
	padding-left: 0px;
	width: auto;
	min-width: 150px;
}

//
.menu-filter .menu-filter__nav .menu li.menu-item ul.sub-menu>li.menu-item>a {
	display: block;
	padding: 8px 0;
	margin: 0 20px;
	border-bottom: 1px dashed #ecf0f1;
	white-space: nowrap;
	/* Khong xuong dong */
}

//
.menu-filter .menu-filter__nav .menu li.menu-item>ul.sub-menu {
	top: 100%;
	left: 0;
}

.menu-filter .menu-filter__nav .menu li.menu-item>ul.sub-menu {
	padding: 10px 0;
	display: none;
	list-style: none;
	margin: 0;
	position: absolute;
	z-index: 99;
	background: #fff;
	width: auto;
	min-width: 230px;
}

// Menu cấp 2 -
.menu-filter .menu-filter__nav .menu li.menu-item>ul.sub-menu li.current-menu-item>a {
	font-weight: bold;
	color: $primary;
}

// Xử lý văn bản bên trong thẻ a của menu cấp 2
.menu-filter .menu-filter__nav .menu li.menu-item>ul.sub-menu li>a {
	display: block;
	padding: 8px 0;
	margin: 0 20px;
	border-bottom: 1px dashed #ecf0f1;
	white-space: nowrap;
}