.footer {
	background-color: $info;

	&__logo {
		display: inline-flex;

		img {
			height: 40px;
			width: auto;
		}
	}

	&__intro {
		margin-top: 24px;
		font-size: 14px;
	}

	// * {
	// 	color: $white !important;
	// }

	&__item {
		margin-bottom: 24px;

		&--title {
			color: $primary;
			font-weight: bold;
			text-transform: uppercase;

			margin-bottom: 15px;
		}

		&--linkFb {
			a .image__inner img {
				width: 100%;
			}
		}

		@include media-breakpoint-up(lg) {
			margin-bottom: 0px;
		}
	}

	&__nav {
		ul.menu {
			padding: 0px;
			margin: 0px;
			list-style-type: none;

			& > li {
				margin-bottom: 10px;

				& > a {
					color: $body;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	// Socials
	.socials {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		row-gap: 10px;
		margin-top: 12px;
	}

	//
	.socials a {
		margin-right: 20px;

		&:last-child {
			margin-right: 0px;
		}
	}

	//
	.socials img {
		height: 30px;
		width: auto;
	}
}

.is-divider {
	height: 3px;
	display: block;
	background-color: rgba(0, 0, 0, 0.1);
	margin: 1em 0 1em;
	width: 100%;
	max-width: 30px;
}

// Thông tin liên hệ
.footer__item .infomation .item {
	position: relative;
	padding-left: 30px;
}

.footer__item .infomation .item::before {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
}

// Xử lý giao diện icon
.footer__item .infomation .item.item-phone::before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%231a3865' d='M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z'/%3E%3C/svg%3E");
}

// Xử lý giao diện icon
.footer__item .infomation .item.item-mail::before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%231a3865' d='M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z'/%3E%3C/svg%3E");
}
