// Bootstrap overrides
$grid-gutter-width: 32px !default;

//grid breakpoints
$grid-breakpoints    : (
  xs                 : 0,
  sm                 : 480px,
  md                 : 768px,
  lg                 : 1200px,
  xl                 : 1200px,
  xxl                : 1440px
); //to get value using map-get($grid-breakpoints, "lg")
// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm                 : 480px,
  md                 : 768px,
  lg                 : 1200px,
  xl                 : 1200px,
  xxl                : 1200px
);

//base color
$body                       : #333333;
$primary                    : #1A3865; //1
$secondary                  : #94b3e3; //2
$success                    : #bed1ee; //3
$info                       : #e9eff9; //4
// $warning                    : #472c12; //5
// $danger                     : #F1F1F2; //6
// $light                      : #F0F0F0;
// $dark                       : #464646;
// $muted                      : #C4C4C4;